[Desktop Entry]
Name=Inra System Cleaner (TUI)
Comment=Smart, Universal Linux Package Purger and System Cleaner
Exec=inra
Icon=inra
Terminal=true
Type=Application
Categories=System;Settings;Utility;
Keywords=cleanup;clean;purge;orphan;pacman;apt;dnf;
